.measure {
  height: calc((100vh - 144px) / 2);
  width: calc(50% - 20px);
  margin: 10px;
  overflow: hidden;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);

  .amount {
    padding: 10px;
    font-size: 36px;

    &:not(.new) {
      color: rgb(0, 150, 255);
    }
  }

  .dif {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: -10px;
    font-weight: bold;
  }
}
